<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Pic2PlotPath" value="C:\Program Files\GnuWin32\bin\pic2plot.exe"/>
    <add key="OutputType" value="svg"/>
    <!--currently only svg format is supported-->
    <add key="IgnoredMethodList" value="get_|set_|add_|remove_|ToString"/>
    <add key="IgnoredTypeList" value="Console|String|Assert|Logging|Object|SR|SafeHandle"/>
    <add key="IgnoredNSList" value="System.Diagnostics|System.Security"/>
  </appSettings>
</configuration>